.l-team-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.l-team-card .card-header h3 {
    float: left;
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.l-team-card .card-header span {
    float: right;
    font-size: 1.35rem;
    font-weight: bold;
    color: #626267;
}

.l-team-card .card-content {
    box-sizing: border-box;
    padding: 10px;
}

.l-team-card .card-content img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.modal-show {
    float: left;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.modal-hide {
    float: left;
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(18px);
    top: 0;
    left: 0;
    opacity: 0;
}

.modal-show .overlay {
    z-index: 99;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.overlay .container {
    float: left;
    width: 60%;
    height: 75%;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}