section {
    float: left;
    width: 475px;
    height: 850px;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #adadad;
    overflow: hidden;
}

section .sec-header {
    float: left;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sec-header h1 {
    font-size: 45px;
    font-weight: bolder;
    color: #626267;
    cursor: default;
}

section form {
    float: left;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form .input-con {
    float: left;
    width: 80%;
    height: 45px;
    box-sizing: border-box;
    background: transparent;
    margin: 20px 0;
    border-bottom: 2px solid #d6d6d9;
}

.input-con input {
    float: left;
    width: 85%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    outline: none;
    background: transparent;
    color: #626267;
}

.input-con .icon-box {
    float: left;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box .icon {
    font-size: 22px;
    color: #d6d6d9;
}

.text-con {
    float: left;
    width: 80%;
    height: 35px;
    box-sizing: border-box;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px 0 10px;
}

.text-con .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 8px;
}

.remember p {
    float: left;
    color: #939396;
    font-size: 13px;
    margin: 0;
    padding: 0;
    cursor: default;
}

.remember .check {
    float: left;
    font-size: 20px;
    cursor: pointer;
    color: #c9c4c4;
    transition: .3s all;
}

.remember .rem-act {
    color: #8d43d2;
}

.text-con .help {
    font-size: 13px;
    color: #939396;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

form .send {
    float: left;
    width: 80%;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #4ebec9, #43d2d2, #8d43d2, #c843d2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 20px;
    box-shadow: 2px 5px 5px rgba(147, 147, 150, 0.23);
}

form h3 {
    color: #676769;
    font-size: 15px;
    margin: 20px 10px;
    cursor: default;
}

form .social-box {
    display: flex;
    width: 50%;
    height: 65px;
    float: left;
    justify-content: center;
    align-items: center;
}

.social-box .social-icon {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 8px;
    transition: .2s all;
}

.social-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.google {
    color: white;
    background: #e81b00;
}

.github {
    color: white;
    background: #333333;
}

.twitter {
    color: white;
    background: #528ed5;
}

form .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #fafafa;
    color: #676769;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 20px;
    box-shadow: 2px 5px 5px rgba(147, 147, 150, 0.23);
    cursor: pointer;
    transition: .2s all;
}

.switch:hover {
    cursor: pointer;
    transform: scale(1.05);
}

section .sec-footer {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    box-sizing: border-box;
}

.sec-footer .container {
    display: flex;
    float: left;
    justify-content: right;
    height: 100%;
    width: 75%;
    box-sizing: border-box;
    border-top: 1px solid #adadad;
    padding: 2px 5px;
}

.sec-footer .container p {
    color: #939396;
    font-size: 13px;
    cursor: pointer;
    transition: .2s all;
}

.sec-footer .container p:hover {
    color: #8d43d2;
}

